// Copyleft 2020 Outright Mental

$ui-z-index: 11000;
$menu-backdrop-z-index: 9000;
$menu-z-index: 9500;

$screen-xs: 420px; // maximum width: cover all smartphones in portrait mode
$screen-sm: 421px; // to 767px width: most smartphones in landscape mode
$screen-md: 768px; // to 1023px: most Android tablets and iPads in portrait mode
$screen-lg: 1024px; // to 1365px: most Android tablets and iPads in landscape mode, older desktop/laptop monitors
$screen-xl: 1366px; // and above: iPad PRO, HDready and FullHD desktop laptop monitors

@mixin body_background() {
  background: #000000;
  background: radial-gradient(ellipse at center, #202020 0%, #000000 200%);
  background-size: 100%;
}

@mixin module_background() {
  //background: #66666600;
  background: radial-gradient(ellipse at center, #66666670 10%, #66666640 200%);
  background-size: 100%;
}

@mixin display_font() {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 14px #999, 0 0 20px rgba(175, 175, 175, 0);
}