.App {
  text-align: center;
}

.App-header {
  background-color: #202020;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 1em;
  margin-bottom: 0;
}

p.error {
  color: #ff0000;
}

sup.tiny {
  font-size: 0.2em;
  vertical-align: top;
  /* margin-top: 2rem; */
  /* padding-top: 2rem; */
  top: 0.8em;
  position: relative;
}

#logoutButton {
  font-size: 10pt;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  padding: 1em 2em;
  color: #909090;
  border: 0 none;
  cursor: pointer;
}

#loginButton {
  margin-top: 2em;
}

#fullscreenButton {
  font-size: 10pt;
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  padding: 1em 1em;
  color: #909090;
  border: 0 none;
  cursor: pointer;
  opacity: 0.38;
}

#fullscreenButton:hover {
  opacity: 1.0;
}

.event {
  font-family: monospace;
  font-size: 10pt;
}