.App {
  text-align: center;
}

.App-header {
  background-color: #202020;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 1em;
  margin-top: 0;
}

p.error {
  color: #ff0000;
}

sup.tiny {
  font-size: 0.2em;
  vertical-align: top;
  /* margin-top: 2rem; */
  /* padding-top: 2rem; */
  top: 0.8em;
  position: relative;
}

.uiButton {
  font-size: 10pt;
  position: absolute;
  background: transparent;
  padding: 1em 1em;
  border: 0 none;
  cursor: pointer;
  opacity: 0.38;
}

.uiButton.lit {
  opacity: 0.8;
}

.uiButton:hover {
  opacity: 1.0;
}

#menuButton {
  z-index: 11000;
  top: 0;
  right: 0;
}

.menuItem {
  color: #ffffff;
  background: #404040;
  margin-bottom: 20px;
  padding: 20px 20px 10px 20px;
}

.menuSelection {
  cursor: pointer;
  opacity: 0.62;
  padding: 10px 20px;
}

.menuSelection:hover {
  opacity: 1.0;
}

#fullscreenButton {
  bottom: 0;
  right: 0;
}

.event {
  font-family: monospace;
  font-size: 10pt;
}

#menuBackdrop {
  z-index: 10000;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  background: #000000BB;
}

#menuBody {
  z-index: 11000;
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
}

#menuBody a {
  color: #ffffff;
}
